# **Libraries**

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler, LabelEncoder
from tensorflow.keras.models import Sequential # type: ignore
from tensorflow.keras.layers import LSTM, Dense # type: ignore
from tensorflow.keras.callbacks import EarlyStopping # type: ignore

#### **Data Exploration**

In [7]:
df = pd.read_csv(r"F:\University\Uni Stuff (semester 11)\Thesis\code\data\raw\thesis_data_updated.csv", parse_dates=["Crime_date"])

In [8]:
df.head()

,SL,Age,gender,PS/SD,Crime_Location,Crime_date,Crime_time,Allegation
0,1,30,male,vulta,rupgonj,2022-04-24,1:55:00 PM,drugs
1,2,32,male,vulta,rupgonj,2022-04-24,1:55:00 PM,drugs
2,3,38,male,vulta,rupgonj,2022-04-24,1:55:00 PM,drugs
3,4,32,male,vulta,rupgonj,2022-04-24,1:55:00 PM,drugs
4,5,65,male,kala paharia,araihazar,2024-06-09,4:30:00 AM,half murder

In [9]:
print(df.info())
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2081 entries, 0 to 2080
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   SL              2081 non-null   int64
 1   Age             2081 non-null   int64
 2   gender          2081 non-null   object
 3   PS/SD           2081 non-null   object
 4   Crime_Location  2081 non-null   object
 5   Crime_date      2081 non-null   datetime64[ns]
 6   Crime_time      2081 non-null   object
 7   Allegation      2081 non-null   object
dtypes: datetime64[ns](1), int64(2), object(5)
memory usage: 130.2+ KB
None
                SL          Age                     Crime_date
count  2081.000000  2081.000000                           2081
mean   1041.000000    44.902451  2024-07-23 18:58:17.933685760
min       1.000000    19.000000            2019-08-17 00:00:00
25%     521.000000    38.000000            2024-08-19 00:00:00
50%    1041.000000    45.000000            2024-08-19 00:00:00
75%    1561.000000    51.000000            2025-08-23 00:00:00
max    2081.000000    77.000000            2025-08-23 00:00:00
std     600.877275    10.482797                            NaN

In [10]:
df.sort_values('Crime_date', inplace=True)

# **Preprocessing data**

In [21]:
pre_processed_data = df.copy()

In [22]:
pre_processed_data = pre_processed_data.drop_duplicates()
pre_processed_data = pre_processed_data.drop(columns=['SL'])

In [9]:
pre_processed_data['day'] = pre_processed_data['Event day'].dt.day
pre_processed_data['month'] = pre_processed_data['Event day'].dt.month
pre_processed_data['year'] = pre_processed_data['Event day'].dt.year
pre_processed_data['day_of_week'] = pre_processed_data['Event day'].dt.dayofweek

### **Encoding and Scaling**

# **Plotting**

# **Sequence dataset for LSTM**